
a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}

img {
	border:none;
}

.htmlobject_table {
	width: 800px;
}
.htmlobject_tab_box {
	width:700px;
}
.htmlobject_td {
	padding:5px !important;
}
.htmlobject_td.image_icon {
	text-align:center;
	width:25px;
	vertical-align:top;
}
.htmlobject_td.image_id {
	text-align:center;
	width:25px;
	vertical-align:top;
}
.htmlobject_td.image_name {
	text-align:left;
	width:220px;
	vertical-align:top;
}
.htmlobject_td.image_version {
	text-align:left;
	width:100px;
	vertical-align:top;
}
.htmlobject_td.image_type {
	text-align:left;
	width:220px;
	vertical-align:top;
}
.htmlobject_td.image_comment {
	text-align:left;
	width:200px;
	vertical-align:top;
}
.htmlobject_td.image_edit {
	text-align:left;
	width:80px;
	vertical-align:top;
}
.htmlobject_td.identifier {
	text-align:center;
	vertical-align:top;
}

.htmlobject_box textarea {
	width: 600px;
	height: 50px;
}